<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whoami-table</title>
    <script type="text/javascript" src="js/TableFunctions.js"></script>
    <style>
        section {
            visibility: hidden;
        }
    </style>
</head>
<body>

    <h1>Whoami</h1>

    <section id="header-section">
        <h3>Request headers received from the servers</h3>
        <table id="header-table"></table>
    </section>

    <section id="request-body-section">
        <h3>Request Body</h3>
        <table id="request-body-table"></table>
    </section>

    <section id="url-parts-section">
        <h3>Url Parts</h3>
        <table id="url-parts-table"></table>
    </section>

    <section id="remote-info-section">
        <h3>Remote Info</h3>
        <table id="remote-info-table"></table>
    </section>

    <section id="authentication-section">
        <h3>Auth Info</h3>
        <table id="auth-info-table"></table>
    </section>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const jsonBlob = /*[[${jsonBlob}]]*/ {
            "headers": {
                "host": "localhost:8080",
                "connection": "keep-alive",
                "upgrade-insecure-requests": "1",
                "user-agent": "agent",
                "accept": "text/html,application/xhtml+xml,application/xml;",
                "sec-fetch-site": "none",
                "sec-fetch-mode": "n",
                "sec-fetch-user": "?1",
                "sec-fetch-dest": "document",
                "sec-ch-ua": "asdf",
                "sec-ch-ua-mobile": "?0",
                "sec-ch-ua-platform": "\"linux\"",
                "accept-encoding": "gzip",
                "accept-language": "en",
            },
            "url-parts": {
                "request-method": "GET",
                "request-url": "http://localhost:8080/whoami",
                "scheme": "http",
                "protocol": "HTTP/1.1",
                "server-host": "localhost",
                "server-port": "8080",
                "path": "/whoami",
                "query-string": "whoami-redirect=true"
            },
            "remote-info": {
                "request-address": "0:0:0:0:0:0:0:1",
                "request-host": "0:0:0:0:0:0:0:1",
                "request-port": "52563"
            },
            "auth": {
                "auth-type": null,
                "remote-user": null,
                "user-principal": "null"
            },
            "body": "empty-body",
            "hostname": "host"
        }
        /*]]>*/
    </script>

    <script th:inline="javascript">

        function setSectionTable(sectionSelector, fieldNames, jsonObject) {

            // set section element to visible
            let sectionElement = document.querySelector(sectionSelector)
            sectionElement.style.visibility = "visible";

            // populate the table in the section
            let tableElement = document.querySelector(sectionSelector + " " + "table")
            setTableTowsFromJsonWithoutFieldName(tableElement, fieldNames, jsonObject)

        }

        setSectionTable("#header-section",      ["Header Name", "Value"],           jsonBlob["headers"])
        setSectionTable("#url-parts-section",   ["Url-Component", "Value"],         jsonBlob["url-parts"])
        setSectionTable("#remote-info-section", ["Remote-Info-Component", "Value"], jsonBlob["remote-info"])

    </script>

</body>
</html>