<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whoami-table</title>
    <script type="text/javascript" src="js/TableFunctions.js"></script>
    <style>
        #whoami-table div {
            display: none;
        }
    </style>
</head>
<body>

    <h1>Whoami</h1>

    <div id="button-div">
        <button>Json</button>
        <button>Pretty-Json</button>
        <button>Tables</button>
        <button>Header-Descriptions</button>
    </div>

    <div id="content">

        <div id="whoami-table">

            <div id="header-table-div">
                <h3>Request headers received from the servers</h3>
                <table id="header-table"></table>
            </div>

            <div id="request-body-table-div">
                <h3>Request Body</h3>
                <table id="request-body-table"></table>
            </div>

            <div id="url-parts-table-div">
                <h3>Url Parts</h3>
                <table id="url-parts-table"></table>
            </div>

            <div id="remote-info-table-div">
                <h3>Remote Info</h3>
                <table id="remote-info-table"></table>
            </div>

            <div id="authentication-table-div">
                <h3>Auth Info</h3>
                <table id="auth-info-table"></table>
            </div>

            <div id="server-info-table-div">
                <h3>Server Info</h3>
                <table id="server-info-table"></table>
            </div>

        </div>

        <div id = "whoami-raw-json">
            <p id="raw-json-p"></p>
        </div>

        <div id = "whoami-json">

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const jsonBlob = /*[[${jsonBlob}]]*/ {
            "headers": [
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "host",
                    "value": "localhost:8080"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "connection",
                    "value": "keep-alive"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "sec-ch-ua",
                    "value": "\" Not A;Brand\";v=\"99\", \"Chromium\";v=\"99\", \"Google Chrome\";v=\"99\""
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "sec-ch-ua-mobile",
                    "value": "?0"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "sec-ch-ua-platform",
                    "value": "\"macOS\""
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "upgrade-insecure-requests",
                    "value": "1"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "user-agent",
                    "value": "Mozilla (Macintosh; Intel Mac ) Chrome"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "accept",
                    "value": "text/html,application/xhtml+xml"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "sec-fetch-site",
                    "value": "none"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "sec-fetch-mode",
                    "value": "navigate"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "sec-fetch-user",
                    "value": "?1"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "sec-fetch-dest",
                    "value": "document"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "accept-encoding",
                    "value": "gzip, deflate, br"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "accept-language",
                    "value": "en-US,en;q=0.9"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "cookie",
                    "value": "idea-stuff"
                }
            ],
            "url-parts": {
                "definition": null,
                "request-method": "GET",
                "request-url": "http://localhost:8080/whoami",
                "scheme": "http",
                "protocol": "HTTP/1.1",
                "server-host": "localhost",
                "server-port": "8080",
                "path": "/whoami",
                "query-string": null
            },
            "remote-info": {
                "description": null,
                "definition": null,
                "request-address": "1.1",
                "request-host": "1.1",
                "request-port": "5777"
            },
            "auth": {
                "definition": null,
                "auth-type": null,
                "remoteUser": null,
                "user-principal": "null",
                "definitions": null
            },
            "body": {
                "definition": null,
                "content": "empty-body"
            },
            "server-info": {
                "definition": null,
                "hostname": "mac"
            }
        }/*]]>*/
    </script>

    <script th:inline="javascript">

//        ContentType = Object.freeze({
//            TABLE:       Symbol("TABLE"),
//            JSON:        Symbol("JSON"),
//            PRETTY_JSON: Symbol("PRETTY_JSON")
//        });

        ContentType = {
            "TABLE": "TABLE",
            "JSON": "JSON",
            "PRETTY_JSON": "PRETTY_JSON"
        }

        class ContentBlock {

            type
            containerElement
            enableHandle

            constructor(type, containerElement, enableHandle) {
                this.type = type
                this.containerElement = containerElement
                this.enableHandle = enableHandle
            }

            enable() {
                this.enableHandle();
                this.containerElement.display = "block"
            }

            disable() {
                this.containerElement.display = "none"
            }

        }

        class Content {

            enabledContentBlock;
            allContentBlocks

            constructor(allContentBlocks) {
                this.allContentBlocks = allContentBlocks;
            }

            enable(type) {
                let typeBlock =  this.allContentBlocks.find(block => block.type === type)
                if (this.enabledContentBlock != null) {
                    this.enabledContentBlock.disable();
                }
                typeBlock.enable();
                this.enabled = typeBlock;
            }

        }

        function setTableFromKeyValueObject(tableSelector, columnTitles, keyValueObject) {

            // set section element to visible
            let divElement = document.querySelector(tableSelector)
            divElement.style.display = "block";

            // populate the table in the section
            let tableElement = document.querySelector(tableSelector + " " + "table")

            populateTableFromKeyValuePairs(tableElement, columnTitles, keyValueObject)

        }

        function displayTableFromKeyValueObject() {
            setTableFromKeyValueObject("#url-parts-table-div",     ["Url-Component", "Value"],         jsonBlob["url-parts"])
            setTableFromKeyValueObject("#request-body-table-div",  ["Request-Body-Component", "Value"],jsonBlob["body"])
            setTableFromKeyValueObject("#remote-info-table-div",   ["Client Info",  "Value"],          jsonBlob["remote-info"])
            setTableFromKeyValueObject("#authentication-table-div",["auth-info", "value"],             jsonBlob["auth"])
            setTableFromKeyValueObject("#server-info-table-div",   ["server-info", "value"],           jsonBlob["server-info"])
        }

        function displayTableFromArrayObject() {
            let headerTableDiv = document.querySelector("#header-table-div")
            headerTableDiv.style.display = "block";
            let tableElement = document.querySelector("#header-table-div")
            let columnTitles = ["name", "value", "short-definition", "example", "long-definition"]
            let arrayObject = jsonBlob["headers"]
            populateTableFromObjectArray(tableElement, columnTitles, arrayObject)
        }

        function setContentToTables() {
            displayTableFromKeyValueObject()
            displayTableFromArrayObject()
        }

        function setContentToRawJson() {
            const jsonDisplayPre = document.querySelector("#raw-json-p")
            jsonDisplayPre.textContent = jsonDisplayPre.textContent = JSON.stringify(jsonBlob, undefined, 4)
        }

        tableContentBlock = new ContentBlock(ContentType.TABLE,      document.querySelector("#whoami-table"),    setContentToTables)
        rawJsonContentBlock = new ContentBlock(ContentType.JSON, document.querySelector("#whoami-raw-json"), setContentToRawJson)
        allContentBlocks = [tableContentBlock, rawJsonContentBlock]
        content = new Content(allContentBlocks, tableContentBlock)
        content.enable(ContentType.TABLE)

    </script>

</body>
</html>