<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/table-functions.js}"></script>
    <link rel="icon" th:href="@{/image/patch-question-light-blue.svg}">
    <link rel="stylesheet" th:href="@{/css/whoami.css}">
    <title>Whoami</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <a href="#" class="navbar-brand">Whoami</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="https://github.com/Jim-Shaddix/spring-demos/tree/main/demo/whoami" class="nav-link" target="_blank">Github</a></li>
                <li class="nav-item"><a th:href="@{/api/swagger-ui/index.html}" class="nav-link" target="_blank">OpenApi</a></li>
                <li class="nav-item"><a href="https://jshaddix.com" class="nav-link" target="_blank">Author</a></li>
            </ul>
        </div>
    </nav>

    <div id="top-content" class="container">
        <h1 id="whoami-title">Whoami?</h1>
        <div id="button-div">
            <div>
                <button id="json-button" class="btn btn-outline-primary">Json</button>
                <button id="pretty-json-button" class="btn btn-outline-success">Pretty-Json</button>
                <button id="tables-button" class="btn btn-outline-danger">Tables</button>
            </div>
            <div>
                <button id="request-method-button" class="btn btn-outline-info">Request-Methods</button>
                <button id="headers-button" class="btn btn-outline-warning">Headers</button>
                <button id="response-code-button" class="btn btn-outline-secondary">Response-Codes</button>
            </div>
            <div>
            </div>
        </div>
        <div id="content-description"></div>
    </div>


    <div id="content" class="container">

        <div id = "whoami-table">

            <div id="url-parts-table-div">
                <h5>Request URL</h5>
                <ul>
                    <li>
                        <p>
                            URL Format:
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/List_of_URI_schemes">{scheme}</a>
                            ://
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Hostname#:~:text=In%20computer%20networking%2C%20a%20hostname,as%20the%20World%20Wide%20Web.">{host}</a>
                            :
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Port_(computer_networking)">{port}</a>
                            /
                            <a class="url-element" target="_blank" href="https://www.watchguard.com/help/docs/help-center/en-US/Content/en-US/Fireware/proxies/http/http_req_url_paths_c.html#:~:text=The%20URL%20path%20is%20the,or%20modify%20URL%20path%20patterns.">{path}</a>
                            ?
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Query_string">{query-string}</a>
                            #
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/URI_fragment">{uri-fragment}</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Host Format #1:
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Subdomain">{sub-domain}</a>
                            .
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Domain_name">{domain}</a>
                            .
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Top-level_domain">{TLD-domain}</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Host Format #2:
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Domain_name">{domain}</a>
                            .
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/Top-level_domain">{TLD-domain}</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Host Format #3:
                            <a class="url-element" target="_blank" href="https://en.wikipedia.org/wiki/IP_address">{IP-address}</a>
                        </p>
                    </li>
                </ul>
                <table id="url-parts-table" class="table"></table>
            </div>

            <div id="request-body-table-div">
                <h5>Request Body</h5>
                <table id="request-body-table" class="table"></table>
            </div>

            <div id="request-method-table-div">
                <h5>Request Method</h5>
                <table id="request-method-table" class="table"></table>
            </div>

            <div id="locale-table-div">
                <h5>Request Locale</h5>
                <table id="locale-table" class="table"></table>
            </div>

            <div id="remote-info-table-div">
                <h5>Client Connection Profile</h5>
                <table id="remote-info-table" class="table"></table>
            </div>

            <div id="geolocation-table-div">
                <h5>Client Geolocation</h5>
                <table id="geolocation-table" class="table"></table>
            </div>

            <div id="server-info-table-div">
                <h5>Server Description</h5>
                <table id="server-info-table" class="table"></table>
            </div>

            <div id="authentication-table-div">
                <h5>Request Authentication</h5>
                <table id="auth-info-table" class="table"></table>
            </div>

            <div id="header-table-div">
                <h5>Request Headers</h5>
                <table id="header-table" class="table table-fixed table-bordered"></table>
            </div>


        </div>

        <div id = "whoami-raw-json">
            <pre id="raw-json-pre"></pre>
        </div>

        <div id = "whoami-pretty-json">
            <pre id="pretty-json-pre"></pre>
        </div>

        <div id = "whoami-headers-table">
            <table id="headers-table" class="table table-fixed table-bordered"></table>
        </div>

        <div id = "whoami-request-method-description-table">
            <table id="request-method-description-table" class="table table-fixed table-bordered"></table>
        </div>

        <div id = "whoami-response-code-description-table">
            <table id="response-code-description-table" class="table table-fixed table-bordered"></table>
        </div>

    </div>

    <script id="template-supplied-data" th:inline="javascript">
        /*<![CDATA[*/
        const jsonBlob = /*[[${jsonBlob}]]*/ {
            "headers": [
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "host",
                    "value": "localhost:8080"
                },
                {
                    "type": null,
                    "short-definition": null,
                    "example": null,
                    "long-definition": null,
                    "name": "cookie",
                    "value": "idea-stuff"
                }
            ],
            "url-parts": {
                "definition": null,
                "request-method": "GET",
                "request-url": "http://localhost:8080/whoami",
                "scheme": "http",
                "protocol": "HTTP/1.1",
                "server-host": "localhost",
                "server-port": "8080",
                "path": "/whoami",
                "query-string": null
            },
            "remote-info": {
                "description": null,
                "definition": null,
                "request-address": "1.1",
                "request-host": "1.1",
                "request-port": "5777"
            },
            "auth": {
                "definition": null,
                "auth-type": null,
                "remoteUser": null,
                "user-principal": "null",
                "definitions": null
            },
            "body": {
                "definition": null,
                "content": "empty-body"
            },
            "server-info": {
                "definition": null,
                "hostname": "mac"
            }
        }/*]]>*/
    </script>

    <script id="content-class-script" th:inline="javascript">

        ContentType = {
            "TABLE": "TABLE",
            "JSON": "JSON",
            "PRETTY_JSON": "PRETTY_JSON",
            "HEADERS": "HEADERS",
            "RESPONSE_CODE": "RESPONSE_CODE",
            "REQUEST_METHOD": "REQUEST_METHOD"
        }

        class ContentBlock {

            type
            containerElement
            enableHandle
            buttonElement
            contentDescription

            constructor(type, containerElement, enableHandle, buttonElement, contentDescription) {
                this.type = type
                this.containerElement = containerElement
                this.enableHandle = enableHandle
                this.buttonElement = buttonElement
                this.contentDescription = contentDescription
                this.populate()
            }

            enable() {
                this.containerElement.style.display = "block"
                this.#setContentDescription()
            }

            populate() {
                this.enableHandle();
            }

            #setContentDescription() {
                let contentDescriptionElement = document.querySelector("#content-description")
                let newP = document.createElement("p")
                let newSpan = document.createElement("span")
                newSpan.style.textDecoration = "underline"
                newSpan.textContent = this.buttonElement.textContent
                newP.appendChild(newSpan)
                newP.append(": " + this.contentDescription)
                contentDescriptionElement.replaceChildren(newP)
            }

            disable() {
                this.containerElement.style.display = "none"
            }

        }

        class Content {

            enabledContentBlock;
            allContentBlocks

            constructor(allContentBlocks) {
                this.#setOnClickEvents(allContentBlocks)
                this.allContentBlocks = allContentBlocks;
            }

            #setOnClickEvents(allContentBlocks) {
                for (let i = 0; i < allContentBlocks.length; i++) {
                    let contentBlock = allContentBlocks[i]
                    contentBlock.buttonElement.onclick = () => {
                        this.setContentType(contentBlock.type)
                    }
                }
            }

            setContentType(type) {
                let typeBlock =  this.allContentBlocks.find(block => block.type === type)
                if (this.enabledContentBlock == null) {
                    typeBlock.enable();
                    this.enabledContentBlock = typeBlock;
                } else if (this.enabledContentBlock.type === type) {
                    // do nothing
                } else {
                    this.enabledContentBlock.disable();
                    typeBlock.enable();
                    this.enabledContentBlock = typeBlock;
                }
            }

        }

    </script>

    <script id="content-load-script" th:inline="javascript">

        function convertLink(link) {
            let aElem = document.createElement("a")
            aElem.setAttribute("href", link)
            aElem.innerText = "link"
            aElem.setAttribute("target", "_blank")
            return aElem;
        }

        function setTableFromKeyValueObject(divElement, columnTitles, keyValueObject) {
            divElement.style.display = "block";
            populateTableFromKeyValuePairs(divElement.querySelector("table"), columnTitles, keyValueObject)
        }

        function displayTableFromKeyValueObject() {
            // enrich url parts
            // - unfortunately, URI fragments are not sent to the backend, therefore, we need to
            //   the url-parts data on the client side.
            let deepCopyUrlParts = JSON.parse(JSON.stringify(jsonBlob["url-parts"]))
            deepCopyUrlParts["description"]["uri-fragment-def"] = "fragment used by frontend applications for setting view location. This field is not sent to the backend."
            if(window.location.hash) {
                // Fragment exists
                deepCopyUrlParts["uri-fragment"] = window.location.hash;
            } else {
                // Fragment doesn't exist
                deepCopyUrlParts["uri-fragment"] = "null"
            }

            // set tables
            setTableFromKeyValueObject(document.querySelector("#url-parts-table-div"),     ["Url-Component", "value"],           deepCopyUrlParts)
            setTableFromKeyValueObject(document.querySelector("#request-body-table-div"),  ["Request-Body-Component", "value"],  jsonBlob["body"])
            setTableFromKeyValueObject(document.querySelector("#request-method-table-div"),["Request-Method-Component", "value"],jsonBlob["request-method"])
            setTableFromKeyValueObject(document.querySelector("#remote-info-table-div"),   ["Client Info",  "value"],            jsonBlob["remote-info"])
            setTableFromKeyValueObject(document.querySelector("#locale-table-div"),        ["Locale-Component", "value"],        jsonBlob["locale"])
            setTableFromKeyValueObject(document.querySelector("#authentication-table-div"),["auth-info", "value"],               jsonBlob["auth"])
            setTableFromKeyValueObject(document.querySelector("#server-info-table-div"),   ["server-info", "value"],             jsonBlob["server-info"])
            setTableFromKeyValueObject(document.querySelector("#geolocation-table-div"),   ["geolocation-info", "value"],        jsonBlob["geolocation"])
        }

        function displayTableFromArrayObject() {
            let headerTableDiv = document.querySelector("#header-table-div")
            headerTableDiv.style.display = "block";
            let tableElement = document.querySelector("#header-table")
            let columnTitles = ["name", "value", "type", "description", "link"]
            let arrayObject = JSON.parse(JSON.stringify(jsonBlob["headers"]));
            arrayObject.forEach((headerObj) => headerObj["link"] = convertLink(headerObj["link"]))
            populateTableFromObjectArray(tableElement, columnTitles, arrayObject)
        }

        function displayHeadersTable(jsonHeaders) {

            const jsonTableDisplay = document.querySelector("#headers-table")

            jsonHeaders.forEach((obj) => obj["link"] = convertLink(obj["link"]))
            // for each json object, add a new column
            const tableElementOrder = ["name", "type", "description", "link"]

            populateTableFromObjectArray(jsonTableDisplay, tableElementOrder, jsonHeaders)

        }

        function displayResponseCodeTable(jsonResponseCodes) {
            const jsonTableDisplay = document.querySelector("#response-code-description-table")
            jsonResponseCodes.forEach((obj) => obj["link"] = convertLink(obj["link"]))
            const tableElementOrder = ["name", "type", "description", "link"]
            populateTableFromObjectArray(jsonTableDisplay, tableElementOrder, jsonResponseCodes)
        }

        function displayRequestMethodTable(jsonRequestMethods) {
            const jsonTableDisplay = document.querySelector("#request-method-description-table")
            jsonRequestMethods.forEach((obj) => obj["link"] = convertLink(obj["link"]))
            const tableElementOrder = ["name", "description", "link"]
            populateTableFromObjectArray(jsonTableDisplay, tableElementOrder, jsonRequestMethods)
        }

        function populateTablesContent() {
            displayTableFromKeyValueObject()
            displayTableFromArrayObject()
        }

        function populateRawJsonContent() {
            const jsonDisplayPre = document.querySelector("#raw-json-pre")
            jsonDisplayPre.textContent = jsonDisplayPre.textContent = JSON.stringify(jsonBlob, undefined, 4)
        }

        function populatePrettyJsonContent() {

            // duplicate object (this is one way to perform a deep copy)
            let prettyJsonBlob = JSON.parse(JSON.stringify(jsonBlob));

            let elementsWithDescriptions = ["url-parts", "body", "remote-info", "auth", "server-info", "geolocation", "request-method"]

            // remove descriptions from elements
            for (let i = 0; i < elementsWithDescriptions.length; i++) {
                let fieldName = elementsWithDescriptions[i]
                delete prettyJsonBlob[fieldName]["description"]
            }

            // parse our header names and values
            let newHeadersObject = {}
            for (let i = 0; i < prettyJsonBlob["headers"].length; i++) {
                newHeadersObject[prettyJsonBlob["headers"][i]["name"]] = prettyJsonBlob["headers"][i]["value"]
            }
            prettyJsonBlob["headers"] = newHeadersObject


            const jsonDisplayPre = document.querySelector("#pretty-json-pre")
            jsonDisplayPre.textContent = jsonDisplayPre.textContent = JSON.stringify(prettyJsonBlob, undefined, 4)
        }

        function populateHeadersContent() {

            fetch("/api/v1/headers", {
                headers: { "Content-Type": "application/json; charset=utf-8" },
                method: 'GET'
            })
            .then(res => res.json())
            .then(data => displayHeadersTable(data))
            .catch((reason => {console.log(reason)}))

        }

        function populateResponseCodeContent() {
            fetch("/api/v1/response-codes", {
                headers: { "Content-Type": "application/json; charset=utf-8" },
                method: 'GET'
            })
                .then(res => res.json())
                .then(data => displayResponseCodeTable(data))
                .catch((reason => {console.log(reason)}))
        }

        function populateRequestMethodContent() {
            fetch("/api/v1/request-methods", {
                headers: { "Content-Type": "application/json; charset=utf-8" },
                method: 'GET'
            })
                .then(res => res.json())
                .then(data => displayRequestMethodTable(data))
                .catch((reason => {console.log(reason)}))
        }

        let tableDesc = "Displays the request message contents (with descriptions) that were received from the Whoami server when you connected to this website!"
        let jsonDesc = "Displays a raw payload that the server provided when you connected to this website. The payload contains metadata describing the users request, as well as field descriptions."
        let prettyJsonDesc = "Displays a json object with fields that describe the connection details that you used when connecting to the whoami Service."
        let headersDesc = "Displays a table that describes all of the different possible HTTP headers that someone might use."
        let responseCodeDesc = "Displays a table that describes all of the different possible Response Codes that might be associated with an Http Response."
        let requestMethodDesc = "Displays a table that describes all of the different HTTP Request Methods that might be associated with an HTTP Request."
        tableContentBlock      = new ContentBlock(ContentType.TABLE,      document.querySelector("#whoami-table"),        populateTablesContent,    document.querySelector("#tables-button"),     tableDesc)
        rawJsonContentBlock    = new ContentBlock(ContentType.JSON,       document.querySelector("#whoami-raw-json"),     populateRawJsonContent,   document.querySelector("#json-button"),       jsonDesc)
        prettyJsonContentBlock = new ContentBlock(ContentType.PRETTY_JSON,document.querySelector("#whoami-pretty-json"),  populatePrettyJsonContent,document.querySelector("#pretty-json-button"),prettyJsonDesc)
        headersContentBlock    = new ContentBlock(ContentType.HEADERS,    document.querySelector("#whoami-headers-table"),populateHeadersContent,   document.querySelector("#headers-button"),    headersDesc)

        responseCodeContentBlock  = new ContentBlock(ContentType.RESPONSE_CODE, document.querySelector("#whoami-response-code-description-table"), populateResponseCodeContent, document.querySelector("#response-code-button"), responseCodeDesc)
        requestMethodContentBlock = new ContentBlock(ContentType.REQUEST_METHOD, document.querySelector("#whoami-request-method-description-table"), populateRequestMethodContent, document.querySelector("#request-method-button"), requestMethodDesc)

        allContentBlocks = [tableContentBlock, rawJsonContentBlock, prettyJsonContentBlock, headersContentBlock, responseCodeContentBlock, requestMethodContentBlock]

        content = new Content(allContentBlocks)

    </script>

    <script id="bootstrap5-script" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>